<form class="container" [formGroup]="webForm">
    <div class="form-group">
        <label for="pageNum">Número de pàginas:</label>
        <div class="gap-2 d-flex">
            <button type="button" class="btn default-button" (click)="remOne('page')">-</button>
            <input formControlName="pageNum" class="text-center form-control" type="number" (change)="validNumberPage()">
            <button type="button" class="btn default-button" (click)="sumOne('page')">+</button>
        </div>
    </div>
    <div class="form-group">
        <label for="pageLenguage">Número de idiomas:</label>
        <div class="gap-2 d-flex">
            <button type="button" class="btn default-button" (click)="remOne('lenguage')">-</button>
            <input formControlName="lenguageNum" class="text-center form-control" type="number" (change)="validNumberLenguage()">
            <button type="button" class="btn default-button" (click)="sumOne('lenguage')">+</button>
        </div>
    </div>
</form>
