<ng-template #content let-modal>
    <div class="modal-content modal-container">
        <p *ngIf="!pageModal">En este componente tiene que indicarse el número de lenguas que tendra su sitio web.</p>
        <p *ngIf="pageModal">En este componente tiene que indicarse el número de idiomas que tendra su sitio web.</p>
    </div>
</ng-template>

<form class="container" [formGroup]="webForm">
    <div class="form-group">
        <label for="pageNum">Número de pàginas:</label>
        <div class="gap-2 d-flex">
            <button type="button" class="btn default-button" (click)="remOne('page')">-</button>
            <input placeholder="número de pàginas" formControlName="pageNum" class="text-center form-control" type="number" (change)="validNumberPage()">
            <button type="button" class="btn default-button" (click)="sumOne('page')">+</button>
            <div class="containerIcon align-items-center d-flex" (click)="openModal(content, 'pageModal')">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="pageLenguage">Número de idiomas:</label>
        <div class="gap-2 d-flex">
            <button type="button" class="btn default-button" (click)="remOne('lenguage')">-</button>
            <input placeholder="número de lenguas" formControlName="lenguageNum" class="text-center form-control" type="number" (change)="validNumberLenguage()">
            <button type="button" class="btn default-button" (click)="sumOne('lenguage')">+</button>
            <div class="containerIcon align-items-center d-flex" (click)="openModal(content, 'lenguageModal')">
                <i class="fa-solid fa-circle-info"></i>
            </div>
        </div>
    </div>
</form>

